<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <title>WTL 29</title>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    Enter a number till which prime numbers are to be printed: <input type="number" ng-model="num">
    <input type="button" value="Calculate" ng-click="primePrint(num)">
    <p ng-hide="num==NULL">{{listPrime}}</p>
</body>
<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', ($scope) => {
        $scope.listPrime = [];
        $scope.primePrint = (num) => {
            for (let i = 2; i < num; i++) {
                var notPrime = false;
                for (let j = 2; j <= i; j++) {
                    if (i % j == 0 && j != i) {
                        notPrime = true;
                    }
                }
                if (notPrime === false) {
                    $scope.listPrime.push(i);
                }
            }
        }
    })
</script>

</html>